.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
}

.checkbox {
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  padding: 0.375rem;
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--blue);
  border-radius: 1.5rem;
  transition: all var(--transition-fast);

  &:checked {
    background-color: var(--purple-dark);
    border-color: var(--purple-dark);

    &::before {
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 0.5rem;
      height: 0.3125rem;
      content: "";
      border-bottom: 1px solid var(--gray-100);
      border-left: 1px solid var(--gray-100);
      transform: rotate(-45deg);
    }

    &:hover {
      background-color: var(--purple);
      border-color: var(--purple);
    }
  }

  &:not(:checked):hover {
    background-color: var(--blue-dark-alpha);
    border-color: var(--blue-dark);
  }
}
