.emtpy {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  border-top: 1px solid var(--gray-400);
  border-radius: 0.5rem;

  svg {
    margin-top: 4rem;
    margin-bottom: 1rem;
    fill: var(--gray-400);
  }
}
