.input {
  width: 100%;
  height: 3.375rem;
  padding-inline: 1rem;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  transition: all var(--transition-fast);

  &:focus {
    color: var(--white);
    border: 1px solid var(--purple-dark);
  }

  &::placeholder {
    color: var(--gray-300);
  }
}
