.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1rem;
  margin-bottom: 0.875rem;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 0.5rem;
}

.title {
  padding-inline: 1rem;
  margin-top: 0.125rem;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--gray-100);
  text-align: left;
}

.completed {
  color: var(--gray-300);
  text-decoration: line-through;
}
