.main {
  flex: 1;
  padding: 1rem;
  color: var(--gray-300);
  text-align: center;
  background-color: var(--gray-600);
}

.container {
  max-width: 46rem;
  margin-inline: auto;
  margin-top: calc(0px - 1rem - (3.375rem / 2));
}

.list {
  margin-top: 4rem;
}
